@font-face {
    font-family: "onsen-japan";
    src: url("./assets/fonts/OnsenJapan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark1-color: #3E3E3E;
    --dark2-color: #242424;
    --dark3-color: #121212;
    --darkText-color: #ffffffde;

    --light1-color: #fafafa;
    --light2-color: #e4e5f1;
    --light3-color: #d2d3db;
    --lightText-color: #484b6a;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--darkText-color);
    background-color: var(--dark2-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

.image-container {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.circle-button {
    height: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkText-color);
    transition: all 0.2s ease-in-out;
    margin: clamp(10px, 2%, 20px);
    
    opacity: 60%;
}

.circle-button:hover {
    opacity: 60%;
    cursor: pointer;
}

.circle-button:active {
    transform: translateY(3px);
}

.circle-button-image {
    width: 80%;
    height: 80%;
    transition: all 0.2s ease-in-out;
}

.circle-button-image:hover {
    width: 140%;
    height: 140%;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--lightText-color);
        background-color: var(--light1-color);
    }
}
