@font-face {
    font-family: "onsen-japan";
    src: url("./assets/fonts/onsen-japan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "outfit";
    src: url("./assets/fonts/outfit-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --first-color: #3E3E3E;
    --second-color: #242424;
    --third-color: #121212;
    --text-color: #ffffffde;

    font-family: outfit, Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--second-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.content-object-enter {
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.content-object-enter-active {
    width: 18rem;
    opacity: 1;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.content-object-exit {
    width: 18rem;
    opacity: 1;
    overflow: hidden;
}

.content-object-exit-active {
    width: 0;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}


body {
    margin: 0;
    display: flex;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
}